body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
input[type="text"] {
  font-size: 12px;
}
input[type="text"] {
  font-size: 12px;
}
select {
  font-size: 12px;
  background: #fff;
}
.add-event {
  font-size: 18px;
  margin: 20px 0 20px 0;
  padding-bottom: 20px;
}
td {
  white-space: nowrap;
  text-overflow: ellipsis;
}
