extends layout
block content
    h2 Roles
    table(id='roles-table' data-sortable).table.table-bordered.table-striped.sortable-theme-bootstrap
        thead
            tr
                th Name
                th
        tbody
            each role in list.roles
                tr.role
                    td.col-sm-3
                        input(type='text' value='#{role.name}' name='name' placeholder='Name' maxlength=17 ).form-control
                    td
                        a(href='/admin/roles/#{role.name}/delete').btn.btn-danger Delete
    button(type='submit' id='roles-save').btn.btn-primary Save
    br
    br
    h4 New Role
    table(id='add-role-table').table.table-bordered.table-striped
        tbody(id='role-add-body')
            tr
                td.col-sm-3
                    input(type='text' name='name' placeholder='Name' id='name' maxlength=17).form-control
                td
                    button(id='role-add').btn.btn-success Add
    br
    form(id="users-upload-form" action='/admin/roles/upload' method='post' enctype="multipart/form-data")
        .form-group
            label(for='upload') Upload json data
            input(type='file' name='roles' id='upload')
            br
            input(type='submit' value="Upload")
