extends layout
block content
    h2 Roles
    table(id='roles-table').table.table-bordered.table-striped
        thead
            tr
                th Name
                th
        tbody
            each role in list.roles
                tr
                    td.col-sm-3
                        input(type='text' value='#{role.name}' name='name' placeholder='Name').form-control
                    td
                        a(href='/admin/roles/#{role.name}/delete').btn.btn-danger Delete
    button(type='submit' id='roles-save').btn.btn-primary Save
    br
    br
    h4 New Role
    table(id='add-role-table').table.table-bordered.table-striped
        tbody(id='role-add-body')
            tr
                td.col-sm-3
                    input(type='text' name='name' placeholder='Name').form-control
                td
                    button(id='role-add').btn.btn-success Add
