extends layout
block content
    h2 Active timers
    table(id='timers-table' data-sortable).table.table-bordered.table-striped.sortable-theme-bootstrap
        thead
            tr
                th Name
                th Elapsed
                th Total
                th Countdown
        tbody
            each timer in list
                tr
                    td.col-sm-3 #{timer.name}
                    td.col-sm-3 #{timer.elapsed}
                    td.col-sm-3 #{timer.total}
                    td.col-sm-3 #{timer.isCountdown}
