@import '../../common/css/base.styl'

.dashboard-content
  display flex
  display -webkit-flex
  align-items center
  -webkit-align-items center
  justify-content center
  -webkit-justify-content center

.dashboard-content-top
  @extends .dashboard-content
  padding 30px 50px 20px 30px

.dashboard-content-mid
  @extends .dashboard-content
  padding 30px

.icon-group
  margin auto
  align-items center
  -webkit-align-items center
  justify-content center
  -webkit-justify-content center
  display flex
  display -webkit-flex

.top-icon
  width 30px
  height 30px
  margin-right 10px

.alert-count
  color color-orange-red
  font-size 30px

.red-line
  height 30px
  border-right 2px solid color-orange-red
  margin 0 8px 0 8px

.clock
  font-size 48px
  color white
  margin auto
  
.user-team
  font-size 30px
  color white
  margin auto

.timeline-progress
  height 30px

.circle-border
  width 60px
  height 60px
  border-top-right-radius 50%
