<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Dashboard" version="1.0.0" viewmodes="maximized">
    <tizen:application id="ZB6Bu0uk5x.Dashboard" package="ZB6Bu0uk5x" required_version="2.2"/>
	<tizen:category name="com.samsung.wmanager.WATCH_CLOCK"/>
    <access origin="*" subdomains="true"></access>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>watch</name>
    <tizen:profile name="wearable"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <icon src="icon.png"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
</widget>
