@import 'base.styl'

h1
  font-size 30px
  color white
  margin-bottom 5px
  display block
  font-weight 300

h2
  font-size 24px
  color color-gray-dark
  margin-bottom 6px
  font-weight 300

h4
  font-size 24px
  color color-gray
  padding-bottom 6px
  margin 21px 0 31px 19px
  font-weight 300

h5
  font-size 22px
  color color-gray
  font-weight 300

h4.role
  margin 0 0 0 19px
  color white

span
  font-weight 300

.contents
  display: flex
  display: -webkit-flex
  box-sizing: border-box
  -webkit-box-sizing: border-box
  height: 320px

.content_text
  font-weight: bold;
  font-size: 5em;
  color: #fff;

.ui-content section
  overflow: auto

//Timeline
.header
  width: 100%
  height 40px
  padding 0 15px 7px 15px
  display -webkit-flex
  display flex
  align-items center
  -webkit-align-items center

.screen-title
  font-size 30px
  color: white
  font-weight 700

.clock
  font-size 30px
  color: color-gray-dark
  margin-left auto

.circle-white
  circle(10px, #fff)

.circle-blue
  circle(20px, color-blue)
  float left
  margin 6px 8px 0 20px
  position absolute
  top: 0

.list-item
  width 100%
  margin auto
  position: relative

.list-item-text
  width: 100%
  padding-left 50px

//Comms
half-circle(marginRight, bTop, bRight, bBottom, bLeft)
  height 120px
  width 55px
  -webkit-border-radius bTop bRight bBottom bLeft
  background color-black-light
  float left
  margin 0 marginRight 0 0
  display -webkit-flex
  display flex
  align-items center
  -webkit-align-items center
  justify-content center
  -webkit-justify-content center

.half-circle-right
  half-circle(0, 0, 55px, 55px, 0)

.half-circle-left
  half-circle(10px, 55px, 0, 0, 55px)

.band
  font-size 28px
  color white
  font-weight 300

quarter-circle(bg, bTop, bRight, bBottom, bLeft)
  background-color bg
  height 121px
  width 60.5px
  -webkit-border-radius bTop bRight bBottom bLeft
  border-radius bTop bRight bBottom bLeft

.events-placeholder
  display: flex
  display: -webkit-flex
  box-sizing: border-box
  -webkit-box-sizing: border-box
  height: 100%
  padding 0
  margin 0
  align-items center
  -webkit-align-items center
  justify-content center
  -webkit-justify-content center

.role-selector
  padding-left: 15px
  display: flex;
  display: -webkit-flex;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items center
  -webkit-align-items center
  justify-content flex-start
  -webkit-justify-content flex-start
  margin 12px 0 12px 0

.back-btn
  margin-right 10px
  display inline

.role-list-item
  margin 0 0 30px 30px

.roles-list
  margin-top 15px

// ALERTS
.alerts-list
  margin-top 30px

.alert-critical
  background-color red

.alerts-count
  font-size 24px
  color white

.alerts-count.selected
  font-size 30px
  font-weight 600

.critical-alerts-count
  font-size 26px
  color red

.critical-alerts-count.selected
  font-size 30px
  font-weight 600

.alerts-counters
  display flex
  display -webkit-flex
  align-items center
  -webkit-align-items center
  justify-content center
  -webkit-justify-content center
  margin-top 20px

// DETAIL PAGE
.detail-header-parent
  display flex
  display -webkit-flex
  align-items: stretch
  -webkit-align-items stretch
  margin-top 20px
  margin-left 14px

.detail-color
  border: solid #00b7ff;
  border-width 10px
  margin-left 16px
  border-radius 8px
  height auto
  width 18px
  box-sizing: border-box

.detail-main-info
  width 100%
  padding-left 24px

.detail-name
  margin-bottom 20px

.detail-small
  margin-top 14px

.detail-title
  margin-top 50px

.detail-timer
  display flex
  display -webkit-flex
  align-items center
  -webkit-align-items center
  justify-content center
  -webkit-justify-content center
  margin-left 25px
  margin-top 50px
  margin-bottom 50px

.detail-timer-time
  font-size 48px
  color color-gray-dark
  font-weight 300

.detail-timer-delete
  width 40px
  height 40px
  margin-right 24px

.detail-timer-bottom
  display flex
  display -webkit-flex
  align-items center
  -webkit-align-items center
  justify-content center
  -webkit-justify-content center
  margin-left 25px
  margin-top 20px
  margin-bottom 30px

.list-title
  white-space nowrap
  text-overflow ellipsis
  overflow auto
  padding-right 10px
  width 300px
  margin-top 20px
  margin-bottom 8px

.alert-sub-title
  color color-gray-dark
  display inline
  width 130px
  float left
  font-size 30px

.aalert-info
  display inline
  margin-left 20px

.alert-info-box
  width 100%
  margin-top 40px
  padding-left 80px

.alert-row
  margin-bottom 10px
  display block
  width 100%

.alert-detail-critical
  border: solid red;
  border-width 10px
  margin-left 16px
  border-radius 8px
  height auto
  width 18px
  box-sizing: border-box

.selected-role
  font-size 40px

.comms-circles-cont
  display flex
  display -webkit-flex
  align-items center
  -webkit-align-items center
  margin-top 8px

.networks-cont
  display flex
  display -webkit-flex
  align-items center
  -webkit-align-items center
  margin-top 30px
  margin-bottom 35px

.aos-cont
  display flex
  display -webkit-flex
  align-items center
  -webkit-align-items center
  margin-bottom 30px
  justify-content center
  -webkit-justify-content center

.progress-wrapper
  position absolute
  top 0
  left 0
  z-index 10
  margin 23px 0 0 50px
  font-size 40px
  display flex
  display -webkit-flex
  align-items center
  -webkit-align-items center
  justify-content center
  -webkit-justify-content center

.glyphicon
  font-size 50px

td.form-group.uib-time > input
  font-size 40px
  height inherit
  width 100px

.uib-timepicker
  width 100%
  margin auto

.timerz
  position absolute
  left 0
  top 0
  z-index 0

.timers-main-cont
  display flex
  display -webkit-flex
  align-items center
  -webkit-align-items center
  justify-content center
  -webkit-justify-content center
  width 100%
  height 310px

.timers-list
  width: 100%;
  display flex
  display -webkit-flex
  align-items center
  padding 30px 0 0 20px

.timers-buttons
  display flex
  display -webkit-flex
  align-items center
  -webkit-align-items center
  margin 30px auto 30px auto
  justify-content center
  -webkit-justify-content center

.small-timer-cont
  display: inline-flex
  margin-right: 20px

.small-timer
  position: absolute
  z-index: 2
  pointer-events none

.timer-title
  margin-right: auto
  color white

.timer-sub
  font-size 32px

.timer-details-main-cont
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%;
  height: 310px;
  margin-top 30px

.progress-wrapper-details
  position absolute
  top 0
  left 0
  z-index 10
  margin 933px 0 0 50px
  font-size 40px
  display flex
  display -webkit-flex
  align-items center
  -webkit-align-items center
  justify-content center
  -webkit-justify-content center

.dashboard-cont
  width 100%
  height 100%
  padding 20px

.battery-level
  font-size 18px
  font-weight 900
  color #ffffff
  margin-left 5px

.dashboard-content-top
  width 100%
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;

.flex-spacer
  flex 1
  -webkit-flex 1
  margin auto

.dashboard-icon
  margin 0 5px

.dashboard-clock-cont
  padding 20px 0

.today-date
  color #ffffff
  font-weight 900
  font-size 22px
  margin-bottom 0

.dashboard-clock
  font-size 60px
  color #ffffff
  margin-bottom 0
  font-weight 900

.gmt
  font-weight 900
  color color-gray-dark
  margin-left 6px
  font-size 20px

.dash-timers-list
  width: 100%;
  display flex
  display -webkit-flex
  align-items center
  padding 8px 0 0 8px

.dash-timer-title
  margin-left 14px
  padding-right: 50px
  margin-right: auto
  color white
  font-size 22px

.dashboard-alerts
  width 100%
  display: flex;
  display: -webkit-flex;
  align-items: center
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin-top 30px

.dashboard-alert
  color #ffffff
  font-size 24px

.dashboard-alert-count
  color color-gray-dark
  font-size 22px
  margin-top 18px

.dash-timer-sub
  font-size 22px
  padding-top 6px

.footer
  height 480px
  background transparent
  -webkit-box-shadow: 0px 10px 55px 10px rgba(71, 55, 71, 0.72);
  -moz-box-shadow: 0px 10px 55px 10px rgba(71, 55, 71, 0.72);
  box-shadow: 0px 10px 55px 10px rgba(71, 55, 71, 0.72);

.notification
  position absolute
  bottom 0
  height auto
  width 100%
  background #ffffff
  padding 16px 20px 16px 20px

.notification-title
  color #000000
  font-size 32px
  font-weight 600

.notification-subtitle
  color color-gray-dark
  font-size 24px
  margin-top 4px
  font-weight 600

.notification-more
  color: #000;
  font-size: 20px;
  padding-top: 10px
  font-weight: 600;
  margin-top 10px

.notification-bg
  height 100%
  width 100%
  background #000000

.timer-name
  padding-top 90px
  color white

.timer-value
  color white
  padding-top 10px

.flex-cont
  position: absolute;
  z-index 100
  top: 0px;
  left: 0px
  width 100%
  display: flex;
  display: -webkit-flex;
  align-items: center
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;


.alerts td + td,
.alerts th + th {
  border-left: 1px solid white;
}

.alerts tr + tr {
  border-top: 1px solid white;
}

.alerts td
  padding 10px

.notification-box
  position: fixed;
  top: 0
  left: 0
  width 360px
  height: 480px

.comms-band-s
  font-size 30px
  font-weight 600
  color white
  padding-left 85px

.comms-band-ku
  font-size 30px
  font-weight 600
  color white
  padding-left 147px