<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>Astronaut Watch App</title>
    <link rel="stylesheet" href="common/js/lib/tau/wearable/theme/default/tau.min.css">
    <link rel="stylesheet" href="common/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="common/js/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="common/js/lib/tau/wearable/js/tau.js"></script>
    <script type="text/javascript" src="common/js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="common/js/lib/angular/angular-touch.min.js"></script>
    <script type="text/javascript" src="common/js/lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="common/js/lib/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="common/js/lib/angular/angular-filter.min.js"></script>
    <script type="text/javascript" src="common/js/lib/roundProgress.min.js"></script>
    <script type="text/javascript" src="common/js/lib/ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="common/js/lib/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="common/js/lib/moment-range.min.js"></script>
    <script type="text/javascript" src="common/js/lib/moment-duration-format.js"></script>
    <script type="text/javascript" src="common/js/lib/snap.svg-min.js"></script>
    <script type="text/javascript" src="common/js/lib/ui-bootstrap-custom-tpls-1.1.2.js"></script>
    <script type="text/javascript" src="common/js/lib/ng-websocket.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/api.js"></script>
    <script type="text/javascript" src="js/comms.js"></script>
    <script type="text/javascript" src="js/timeline.js"></script>
    <script type="text/javascript" src="js/timers.js"></script>
    <script type="text/javascript" src="js/alerts.js"></script>
    <script type="text/javascript" src="js/state.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/dashboard.js"></script>
    <script type="text/javascript" src="js/system.js"></script>
    <script type="text/javascript" src="js/notifications.js"></script>
</head>
<body ng-app="Watch">

<div class="ui-page ui-page-active" id="config" ng-controller="SetupServerCtrl">
    <div class="dashboard-cont">
        <h2>Provider server url:port</h2>
        <input type="url" ng-model="server">
        <button ng-click="save()">Save</button>
    </div>
</div>
<div class="ui-page" id="dashboard" ng-controller="DashboardCtrl">
    <div class="dashboard-cont" ng-click="onDashboardClick()">
        <div class="dashboard-content-top">
            <h2 class="today-date">{{time |date:'EEE, dd/MM'}}</h2>

            <div class="flex-spacer"></div>
            <object class="dashboard-icon" data="img/bluetooth.svg" id="bluetooth" type="image/svg+xml"
                    sb-load="onBluetoothSvgReady()"></object>
            <object class="dashboard-icon" data="img/wifi.svg" id="wifi" type="image/svg+xml"
                    sb-load="onWifiSvgReady()"></object>
            <object class="dashboard-icon" data="img/battery0.svg" type="image/svg+xml"
                    ng-show="battery.getLevel() < 10"></object>
            <object class="dashboard-icon" data="img/battery1.svg" type="image/svg+xml"
                    ng-show="battery.getLevel() < 40 && battery.getLevel() > 10"></object>
            <object class="dashboard-icon" data="img/battery2.svg" type="image/svg+xml"
                    ng-show="battery.getLevel() < 60 && battery.getLevel() > 40"></object>
            <object class="dashboard-icon" data="img/battery3.svg" type="image/svg+xml"
                    ng-show="battery.getLevel() <=100 && battery.getLevel() > 60"></object>
            <span class="battery-level">{{battery.getLevel()}}%</span>
        </div>
        <div class="dashboard-clock-cont">
            <h1 class="dashboard-clock">{{time | date:'HH:mm:ss'}}<span class="gmt">GMT</span></h1>
        </div>
        <div class="ui-content dashboard-timers">
            <div ng-repeat="tm in timerz.timers">
                <div class="dash-timers-list">
                    <div>
                        <div
                                round-progress
                                max="3600"
                                current="timerz.get($index).current"
                                color="{{getTimerColor($index)}}"
                                bgcolor="transparent"
                                radius="20"
                                stroke="5"
                                semi="false"
                                rounded="false"
                                clockwise="true"
                                responsive="false"
                                duration="800"
                                animation="easeOutCubic"
                        >
                            <div
                                    round-progress
                                    max="100"
                                    current="100"
                                    bgcolor="transparent"
                                    ng-show="isTimerPassHour($index)"
                                    radius="20"
                                    offset="1"
                                    stroke="2"
                                    semi="false"
                                    rounded="false"
                                    clockwise="true"
                                    responsive="false"
                                    duration="800"
                                    animation="easeInOutQuart"
                                    animation-delay="0"
                                    color="{{getTimerColor($index)}}"
                            ></div>
                        </div>
                    </div>
                    <h2 class="dash-timer-title">{{tm.name}}</span><br><span
                            class="dash-timer-sub">{{timeLeft($index)}}</span></h2>
                </div>
            </div>


        </div>
        <footer class="ui-footer dashboard-alerts">
            <object data="img/bands.svg" id="bands" type="image/svg+xml" sb-load="onBandsSvgReady()"></object>
            <!--<h4>A:<span class="dashboard-alert-count"><br>{{(alerts | filter:{status:'Alert'}).length}}</span></h4>-->

            <!--<div class="flex-spacer"></div>-->
            <!--<h4>C:<span class="dashboard-alert-count"><br>{{(alerts | filter:{status:'Critical'}).length}}</span></h4>-->

            <!--<div class="flex-spacer"></div>-->
            <!--<h4>W:<span class="dashboard-alert-count"><br>{{(alerts | filter:{status:'Warning'}).length}}</span></h4>-->

            <!--<div class="flex-spacer"></div>-->
            <!--<h4>E:<span class="dashboard-alert-count"><br>{{(alerts | filter:{status:'Emergency'}).length}}</span></h4>-->
        </footer>
    </div>
</div>

<div id="hsectionchangerPage" class="ui-page " data-enable-page-scroll="false">

    <div ng-controller="HeaderCtrl" class="header">
        <div class="circle-white" id="nav-circle-1"></div>
        <div class="circle-white" id="nav-circle-2"></div>
        <div class="circle-white" id="nav-circle-3"></div>
        <span class="screen-title" id="page-title">TIMELINE</span>

        <div class="circle-white" id="nav-circle-4"></div>
        <div class="circle-white" id="nav-circle-5"></div>
        <div class="circle-white" id="nav-circle-6"></div>
        <span class="clock">{{time |date:'HH:mm'}}</span>
    </div>
    <div id="hsectionchanger" class="ui-content">
        <!-- section changer has only one child. -->
        <div>
            <section ng-controller="TimelineCtrl" class="ui-section-active">
                <!--<pre>{{ events | json }}</pre>-->
                <div class="role-selector" id="role-selector" ng-click="selectRole()">
                    <img src="img/role-icon.png" class="display:inline"><h4 class="role">{{activeRole}}</h4>
                </div>

                <div infinite-scroll="nextPage()" infinite-scroll-disabled='isBusy' infinite-scroll-distance='0'
                     infinite-scroll-immediate-check='true' infinite-scroll-listen-for-event="role-selected">
                    <div class="timeline-list" ng-repeat="(key, value) in events | groupBy: 'date'">
                        <h4>{{key}}</h4>

                        <div class="list-item" id="list-item" ng-repeat="event in value" ng-click="showEvent(event)">
                            <div class="circle-blue" style="background: {{event.color}};">
                            </div>
                            <div class="list-item-text">
                                <h1 class="list-title">{{event.name}}</h1>

                                <h2>{{event.location}}</h2>

                                <h2>{{event.startTime}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="events-placeholder" ng-show='busy'>Loading data...</div>
                    <div class="events-placeholder" ng-show="!busy && (!events || events.length == 0)">No events</div>
                </div>
            </section>
            <section ng-controller="TimersCtrl as tmCtrl">

                <div class="timers-main-cont">
                    <div class="timers-main">
                        <object type="image/svg+xml" id="timers-main" data="img/timers-main.svg"></object>
                    </div>
                    <div class="progress-wrapper">
                        <div
                                round-progress
                                max="3600"
                                current="timerz.get(0).current"
                                color="{{getTimerColor(0)}}"
                                bgcolor="transparent"
                                radius="130"
                                stroke="10"
                                semi="false"
                                rounded="false"
                                clockwise="true"
                                responsive="false"
                                duration="800"
                                animation="easeOutCubic"
                                ng-show="getTimer(0)"
                        >
                            <div
                                    round-progress
                                    max="100"
                                    current="100"
                                    color="{{getTimerColor(0)}}"
                                    bgcolor="transparent"
                                    radius="130"
                                    offset="5"
                                    stroke="2"
                                    semi="false"
                                    rounded="false"
                                    clockwise="true"
                                    responsive="false"
                                    duration="800"
                                    animation="easeInOutQuart"
                                    animation-delay="0"
                                    ng-show="isTimerPassHour(0)"
                            ></div>
                            <div
                                    round-progress
                                    max="3600"
                                    current="timerz.get(1).current"
                                    color="{{getTimerColor(1)}}"
                                    bgcolor="transparent"
                                    radius="130"
                                    stroke="10"
                                    semi="false"
                                    rounded="false"
                                    clockwise="true"
                                    responsive="false"
                                    duration="800"
                                    animation="easeInOutQuart"
                                    animation-delay="0"
                                    offset="20"
                                    ng-show="getTimer(1)"
                            >
                                <div
                                        round-progress
                                        max="100"
                                        current="100"
                                        color="{{getTimerColor(1)}}"
                                        bgcolor="transparent"
                                        radius="130"
                                        offset="25"
                                        stroke="2"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"
                                        ng-show="isTimerPassHour(1)"
                                ></div>
                            </div>
                            <div
                                    round-progress
                                    max="3600"
                                    current="timerz.get(2).current"
                                    color="{{getTimerColor(2)}}"
                                    bgcolor="transparent"
                                    radius="130"
                                    stroke="10"
                                    semi="false"
                                    rounded="false"
                                    clockwise="true"
                                    responsive="false"
                                    duration="800"
                                    animation="easeInOutQuart"
                                    animation-delay="0"
                                    offset="40"
                                    ng-show="getTimer(2)"
                            >
                                <div
                                        round-progress
                                        max="100"
                                        current="100"
                                        color="{{getTimerColor(2)}}"
                                        bgcolor="transparent"
                                        radius="130"
                                        offset="45"
                                        stroke="2"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"
                                        ng-show="isTimerPassHour(2)"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-repeat="tm in timerz.timers">
                    <div class="timers-list">
                        <div class="small-timer-cont" ng-click="playPause($index)">
                            <div class="small-timer">
                                <svg width="60px" height="60px" viewBox="0 0 36 36"
                                     style="padding-left: 5px; padding-top: 4px;">
                                    <path visibility="{{isActive($index) ? 'visible' : 'hidden'}}" fill="#ffffff"
                                          id="pause-icon" data-state="playing"
                                          d="M11,10 L17,10 17,26 11,26 M20,10 L26,10 26,26 20,26"/>
                                    <path visibility="{{isActive($index) ? 'hidden' : 'visible'}}" fill="#ffffff"
                                          id="play-icon" data-state="paused"
                                          d="M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28"/>
                                </svg>
                            </div>
                            <div>
                                <div
                                        round-progress
                                        max="3600"
                                        current="timerz.get($index).current"
                                        color="{{getTimerColor($index)}}"
                                        bgcolor="transparent"
                                        radius="32"
                                        stroke="7"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeOutCubic"
                                >
                                    <div
                                            round-progress
                                            max="100"
                                            current="100"
                                            bgcolor="transparent"
                                            ng-show="isTimerPassHour($index)"
                                            radius="32"
                                            offset="2"
                                            stroke="2"
                                            semi="false"
                                            rounded="false"
                                            clockwise="true"
                                            responsive="false"
                                            duration="800"
                                            animation="easeInOutQuart"
                                            animation-delay="0"
                                            color="{{getTimerColor($index)}}"
                                    ></div>
                                </div>
                            </div>
                        </div>
                        <h2 class="timer-title"><span>{{tm.name}}</span><br><span
                                class="timer-sub">{{timeLeft($index)}}</span></h2>
                        <div class="flex-spacer"></div>
                        <img src="img/clear.png" class="detail-timer-delete" ng-click="removeTimer($index)">
                    </div>
                </div>
                <div class="timers-buttons">
                    <object type="image/svg+xml" id="timer-buttons" data="img/timers-buttons.svg"
                            sb-load="onInitButtonsSvg()"></object>
                </div>
                <div class="flex-cont" ng-click="cycle()">
                    <h2 class="timer-name">{{activeTimerName()}}</h2>
                    <h1 class="timer-value">{{activeTimerValue()}}</h1>
                </div>
            </section>
            <section ng-controller="AlertsCtrl">
                <div class="alerts-counters"><span class="alerts-count">{{alerts.length}} new&nbsp;|&nbsp;</span><span
                        class="critical-alerts-count">{{(alerts | filter: {status:'Critical'}).length}} critical</span>
                </div>
                <div>
                    <div class="alerts-list">
                        <div class="list-item" ng-repeat="alert in alerts" ng-click="showAlert(alert)">
                            <div class="circle-blue" ng-class="{'alert-critical': alert.status == 'Critical'}">
                            </div>
                            <div class="list-item-text">
                                <h1 class="list-title">{{alert.title}}</h1>

                                <h2>{{alert.time}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="events-placeholder" ng-show='busy'>Loading data...</div>
                    <div class="events-placeholder" ng-show="!busy && (!alerts || alerts.length == 0)">No alerts</div>
                </div>
            </section>
            <section ng-controller="CommsCtrl">
                <div class="comms-circles-cont">
                    <object style="margin: auto;" type="image/svg+xml" id="comms-bands" data="img/comms-circles.svg"
                            sb-load="onInitMainSvg()"></object>
                </div>
                <div class="networks-cont">
                    <object style="margin: auto;" type="image/svg+xml" id="networks" data="img/iac-oca.svg"
                            sb-load="onInitNetworksSvg()"></object>
                </div>
                <div class="aos-cont">
                    <object style="width: 100%" type="image/svg+xml" id="aos" data="img/LOS.svg"></object>
                </div>

            </section>
        </div>
    </div>
</div>
<div class="ui-page" id="roles">
    <div class="ui-content">
        <div ng-controller="HeaderCtrl" class="header" ng-click="goBack()">
            <img src="img/back.png" class="back-btn">
            <span class="screen-title">SELECT ROLE</span>
            <span class="clock">{{time |date:'HH:mm'}}</span>
        </div>

        <div ng-controller="RolesCtrl as Roles" class="roles-list ui-content">
            <div class="list-item" id="roles-list" ng-repeat="role in roles">
                <div class="role-list-item">
                    <h1 ng-class="{'selected-role': role.name == Roles.activeRole.name}"
                        ng-click="selectRole(role.name)">
                        {{role.name}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-page" id="event-details">
    <div class="ui-content">
        <div ng-controller="HeaderCtrl" class="header" ng-click="goBack()">
            <img src="img/back.png" class="back-btn">
            <span class="screen-title">Event</span>
            <span class="clock">{{time |date:'HH:mm'}}</span>
        </div>

        <div ng-controller="EventDetailCtrl">
            <div class="detail-header-parent">
                <div class="detail-color" ng-style="{'border-color' : currentData.event.color}"></div>
                <div class="detail-main-info">
                    <h1 class="detail-name">{{currentData.event.name}}</h1>

                    <h2 class="detail-small">{{currentData.event.location}}</h2>

                    <h2 class="detail-small">{{currentData.event.date}}</h2>

                    <h2 class="detail-small">{{currentData .event.startTime}} -
                        {{currentData.event.endTime}}</h2>
                </div>
            </div>
            <div class="detail-main-info">
                <h1 class="detail-title">Participants</h1>

                <h2 class="detail-small">{{currentData.event.role}}</h2>

                <h2 class="detail-small" ng-repeat="user in currentData.event.attendees">{{user}}</h2>
            </div>

            <div class="detail-main-info">
                <h1 class="detail-title">Notes</h1>

                <h2 class="detail-small">{{currentData.event.notes}}</h2>
            </div>
            <div class="detail-timer" ng-show="!currentData.event.isCompleted">
                <img src="img/start.png" style="width: 60px; height: 60px" ng-click="startEvent()" ng-show="!currentData.event.isActive">
                <div class="flex-spacer"></div>
                <h1>{{eventStatus}}</h1>
                <div class="flex-spacer"></div>
                <img src="img/clear.png" class="detail-timer-delete" ng-click="stopEvent()" ng-show="currentData.event.isActive">
            </div>
            <div class="detail-timer-bottom" ng-show="!currentData.event.isCompleted && !currentData.event.hasTimer">
                <img src="img/btn_watch.png" ng-click="trackTime()">
            </div>
        </div>
    </div>
</div>
<div class="ui-page" id="alert-details">
    <div class="ui-content">
        <div ng-controller="HeaderCtrl" class="header" ng-click="goBack()">
            <img src="img/back.png" class="back-btn">
            <span class="screen-title">Alert</span>
            <span class="clock">{{time |date:'HH:mm'}}</span>
        </div>

        <div ng-controller="AlertDetailCtrl">
            <div class="detail-header-parent">
                <div class="detail-color"
                     ng-class="{'alert-detail-critical' : currentData.alert.status == 'Critical'}"></div>
                <div class="detail-main-info">
                    <h1 class="detail-name">{{currentData.alert.title}}</h1>

                    <h2 class="detail-small">{{currentData.alert.time}}</h2>

                    <h2 class="detail-small">{{currentData.alert.date}}</h2>
                </div>
            </div>
            <div class="alert-info-box">
                <div class="alert-row">
                    <span class="alert-sub-title">System</span>

                    <h1 class="aalert-info">{{currentData.alert.system}}</h1>
                </div>
                <div class="alert-row">
                    <span class="alert-sub-title">Status</span>

                    <h1 class="aalert-info">{{currentData.alert.status}}</h1>
                </div>
                <div class="alert-row">
                    <span class="alert-sub-title">Cleared</span>

                    <h1 class="aalert-info">{{currentData.alert.cleared || "C"}}</h1>
                </div>
                <div class="alert-row">
                    <span class="alert-sub-title">Ack</span>

                    <h1 class="aalert-info">{{currentData.alert.ack}}</h1>
                </div>
                <div class="alert-row">
                    <span class="alert-sub-title">Annun</span>

                    <h1 class="aalert-info">{{currentData.alert.annun}}</h1>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="ui-page" id="set-timer">
    <div class="ui-content">
        <div ng-controller="HeaderCtrl" class="header" ng-click="goBack()">
            <img src="img/back.png" class="back-btn">
            <span class="screen-title">Set Timer</span>
            <span class="clock">{{time |date:'HH:mm'}}</span>
        </div>
        <div ng-controller="SetTimerCtrl" class="contents">
            <uib-timepicker ng-model="timer" readonly-input="true" show-spinners="true"
                            show-seconds="true"
                            show-meridian="false"></uib-timepicker>
        </div>
    </div>
</div>
<div class="footer" id="notification" ng-controller="NotificationsCtrl" ng-click="onBgClick($event)">
    <div ng-click="onBgClick($event)">
        <div class="notification" ng-click="mainClick($event)" ng-show="main">
            <h1 class="notification-title">{{main.title}}</h1>

            <h2 class="notification-subtitle">{{main.time}}</h2>
            <div id="more" ng-show="activeNotifications.length > 1" ng-click="moreClick($event)">
                <h2 class="notification-more">{{activeNotifications.length - 1}} more notifications</h2>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/main.js"></script>
</html>

<!--elem-ready="onCommsSvgReady()"-->