<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>Astronaut Watch App</title>
    <link rel="stylesheet" href="common/js/lib/tau/wearable/theme/default/tau.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="common/js/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="common/js/lib/tau/wearable/js/tau.min.js"></script>
    <script type="text/javascript" src="common/js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="common/js/lib/angular/angular-touch.min.js"></script>
    <script type="text/javascript" src="common/js/lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="common/js/lib/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="common/js/lib/angular/angular-filter.min.js"></script>
    <script type="text/javascript" src="common/js/lib/ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="common/js/lib/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="common/js/lib/svg.js"></script>
</head>
<body ng-app="Watch">

<div id="hsectionchangerPage" class="ui-page ui-page-active" data-enable-page-scroll="false">

    <div ng-controller="HeaderCtrl" class="header">
        <div class="circle-white" id="nav-circle-1"></div>
        <div class="circle-white" id="nav-circle-2"></div>
        <div class="circle-white" id="nav-circle-3"></div>
        <span class="screen-title" id="page-title">TIMELINE</span>
        <div class="circle-white" id="nav-circle-4"></div>
        <div class="circle-white" id="nav-circle-5"></div>
        <div class="circle-white" id="nav-circle-6"></div>
        <span class="clock">{{time |date:'HH:mm'}}</span>
    </div>
    <div id="hsectionchanger" class="ui-content">
        <!-- section changer has only one child. -->
        <div>
            <section ng-controller="TimelineCtrl" class="ui-section-active">
                <!--<pre>{{ events | json }}</pre>-->
                <div class="role-selector" id="role-selector" ng-click="selectRole()">
                    <img src="img/role-icon.png" class="display:inline"><h4 class="role">{{activeRole}}</h4>
                </div>

                <div infinite-scroll="nextPage()" infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'
                     infinite-scroll-immediate-check='true' infinite-scroll-listen-for-event="role-selected">
                    <div class="timeline-list" ng-repeat="(key, value) in events | groupBy: 'date'">
                        <h4>{{key}}</h4>
                        <div class="list-item" id="list-item" ng-repeat="event in value" ng-click="showEvent(event)">
                            <div class="circle-blue" style="background: {{event.color}};">
                            </div>
                            <div class="list-item-text">
                                <h1 class="list-title">{{event.name}}</h1>
                                <h2>{{event.location}}</h2>
                                <h2>{{event.startTime}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="events-placeholder" ng-show='busy'>Loading data...</div>
                    <div class="events-placeholder" ng-show="!busy && (!events || events.length == 0)">No events</div>
                </div>
            </section>
            <section ng-controller="TimersCtrl" style="text-align:center">
                <h3>Timers</h3>
            </section>
            <section ng-controller="AlertsCtrl">
                <div class="alerts-counters"><span class="alerts-count">{{alerts.length}} new&nbsp;|&nbsp;</span><span
                        class="critical-alerts-count">{{(alerts | filter: {status:'Critical'}).length}} critical</span>
                </div>
                <div>
                    <div class="alerts-list">
                        <div class="list-item" ng-repeat="alert in alerts" ng-click="showAlert(alert)">
                            <div class="circle-blue" ng-class="{'alert-critical': alert.status == 'Critical'}">
                            </div>
                            <div class="list-item-text">
                                <h1 class="list-title">{{alert.title}}</h1>
                                <h2>{{alert.time}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="events-placeholder" ng-show='busy'>Loading data...</div>
                    <div class="events-placeholder" ng-show="!busy && (!alerts || alerts.length == 0)">No events</div>
                </div>
            </section>
            <section ng-controller="CommsCtrl" style="text-align:center">
                <div class="half-circle-left"><span class="band">S</span></div>
                <div class="half-circle-right"><span class="band">Ku</span></div>
            </section>
        </div>
    </div>
</div>
<div class="ui-page" id="roles">
    <div class="ui-content">
        <div ng-controller="HeaderCtrl" class="header" ng-click="goBack()">
            <img src="img/back.png" class="back-btn">
            <span class="screen-title">SELECT ROLE</span>
            <span class="clock">{{time |date:'HH:mm'}}</span>
        </div>

        <div ng-controller="RolesCtrl as Roles" class="roles-list ui-content">
            <div class="list-item" id="roles-list" ng-repeat="role in roles">
                <div class="role-list-item">
                    <h1 ng-class="{'selected-role': role.name == Roles.activeRole.name}" ng-click="selectRole(role.name)">
                        {{role.name}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-page" id="event-details">
    <div class="ui-content">
        <div ng-controller="HeaderCtrl" class="header" ng-click="goBack()">
            <img src="img/back.png" class="back-btn">
            <span class="screen-title">Event</span>
            <span class="clock">{{time |date:'HH:mm'}}</span>
        </div>

        <div ng-controller="EventDetailCtrl">
            <div class="detail-header-parent">
                <div class="detail-color" ng-style="{'border-color' : currentData.event.color}"></div>
                <div class="detail-main-info">
                    <h1 class="detail-name">{{currentData.event.name}}</h1>
                    <h2 class="detail-small">{{currentData.event.location}}</h2>
                    <h2 class="detail-small">{{currentData.event.date}}</h2>
                    <h2 class="detail-small">{{currentData .event.startTime}} - {{currentData.event.endTime}}</h2>
                </div>
            </div>
            <div class="detail-main-info">
                <h1 class="detail-title">Participants</h1>
                <h2 class="detail-small">{{currentData.event.role}}</h2>
                <h2 class="detail-small" ng-repeat="user in currentData.event.attendees">{{user}}</h2>
            </div>

            <div class="detail-main-info">
                <h1 class="detail-title">Notes</h1>
                <h2 class="detail-small">{{currentData.event.notes}}</h2>
            </div>
            <div class="detail-timer">
                <img src="img/start.png" style="width: 60px; height: 60px">
                <div class="detail-timer-time">30:00</div>
                <img src="img/clear.png" class="detail-timer-delete">
            </div>
        </div>
    </div>
</div>
<div class="ui-page" id="alert-details">
    <div class="ui-content">
        <div ng-controller="HeaderCtrl" class="header" ng-click="goBack()">
            <img src="img/back.png" class="back-btn">
            <span class="screen-title">Alert</span>
            <span class="clock">{{time |date:'HH:mm'}}</span>
        </div>

        <div ng-controller="EventDetailCtrl">
            <div class="detail-header-parent">
                <div class="detail-color" ng-class="{'alert-detail-critical' : currentData.alert.status == 'Critical'}"></div>
                <div class="detail-main-info">
                    <h1 class="detail-name">{{currentData.alert.title}}</h1>
                    <h2 class="detail-small">{{currentData.alert.time}}</h2>
                    <h2 class="detail-small">{{currentData.alert.date}}</h2>
                </div>
            </div>
            <div class="alert-info-box">
                <span class="alert-sub-title">System</span>
                <h1 class="alert-info">{{currentData.alert.system}}</h1>
            </div>

            <div class="alert-info-box">
                <div class="alert-row">
                    <span class="alert-sub-title">Status</span>
                    <h1 class="alert-info">{{currentData.alert.status}}</h1>
                </div>
                <div class="alert-row">
                    <span class="alert-sub-title">Cleared</span>
                    <h1 class="alert-info">{{currentData.alert.cleared || "C"}}</h1>
                </div>
                <div class="alert-row">
                    <span class="alert-sub-title">Ack</span>
                    <h1 class="alert-info">{{currentData.alert.ack}}</h1>
                </div>
                <div class="alert-row">
                    <span class="alert-sub-title">Annun</span>
                    <h1 class="alert-info">{{currentData.alert.annun}}</h1>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/main.js"></script>
</html>
